.heading-1 {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.heading-2 {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.heading-3 {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.heading-4 {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.heading-5 {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.heading-6 {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}